//###// COLOR //###//
/* B&W */
$black: #000;
$white: #fff;
$light-gray: #757575;
$gray: #525252;
$dark-gray: #222;

$red: #f94144;
$orange: #d3573c;
$yellow: #f9c74f;
$green: #90be6d;
$blue: #5778e6;

$dark-red: #c44747;
$dark-blue: #4040b9;
/* theme color */
$primary-color: $dark-red;
$secondary-color: $orange;
$hover-color: #db8876;

$background-color: #fafafa;

$header-height: 50px;

$margin-base: 10px;
$padding-base: 5px;
